# Enopax Project Structure
# This file ignores repository folders but tracks project structure files

# Platform Project
Platform/platform/

# ResourceAPI Project
ResourceAPI/resource-api/
ResourceAPI/resource-api-frontend/

# GitProvider Project
GitProvider/provider-git/

# AgentProvider Project
AgentProvider/provider-agent/

# Test Project
Test/web-test/
