# Enopax Project Structure
# This file ignores repository folders but tracks project structure files

orga/

# AgentProvider Project
AgentProvider/provider-agent/

# GitProvider Project
GitProvider/provider-git/

# Platform Project
Platform/platform/

# ResourceAPI Project
ResourceAPI/resource-api/
ResourceAPI/resource-api-frontend/

# Test Project
Test/web-test/

ClusterProvider/provider-cluster/
